/*
Syntax error: Invalid CSS after "(true)": expected expression (e.g. 1px, bold), was "; }"
        on line 8 of /home/igor/Source/hostastic/app/stylesheets/print.sass

3: // To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
4: // @include blueprint-print
5: 
6: //Recommended Blueprint configuration with scoping and semantic layout:
7: body.bp {
8:   @include blueprint-print(true); }

Backtrace:
/home/igor/Source/hostastic/app/stylesheets/print.sass:8
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/scss/parser.rb:838:in `expected'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/script/lexer.rb:193:in `expected!'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/script/parser.rb:392:in `assert_done'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/script/parser.rb:86:in `parse_mixin_include_arglist'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:662:in `parse_mixin_include'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:524:in `parse_directive'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:428:in `parse_line'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:328:in `build_tree'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:347:in `block in append_children'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:346:in `each'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:346:in `append_children'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:337:in `block in build_tree'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:330:in `each'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:330:in `build_tree'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:347:in `block in append_children'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:346:in `each'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:346:in `append_children'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:216:in `_to_tree'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:179:in `block in to_tree'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/home/igor/Source/hostastic/vendor/ruby/1.9.1/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/home/igor/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/igor/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/igor/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(true)\": expected expression (e.g. 1px, bold), was \"; }\"\A         on line 8 of /home/igor/Source/hostastic/app/stylesheets/print.sass\A \A 3: // To generate css equivalent to the blueprint css but with your configuration applied, uncomment:\A 4: // @include blueprint-print\A 5: \A 6: //Recommended Blueprint configuration with scoping and semantic layout:\A 7: body.bp {\A 8:   @include blueprint-print(true); }"; }
